* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  margin-bottom: 20px;
}

header img {
  height: 43px;
  border-right: 1px solid #ccc;
  padding-right: 12px;
}

header li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  color: #858585;
  font-size: 12px;
  padding-right: 12px;
}

/* Banner */
.banner {
  height: 510px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  margin: 20px 0;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 64%;
  left: 3%;
  width: 50%;
  /* color: #fff; */
}

.banner-text h3, p {
  margin: 0;
}

.banner-text h3 {
  font-size: 23px;
}

/* Section con le colonne */
.main-box {
  height: 500px;
  background-color: dodgerblue;
  margin: 10px 0;
}

.headline {
  height: 50px;
  background-color: lightblue;
  margin: 20px 0;
}

.col-left {
  height: 410px;
  width: 24%;
  background-color: lightblue;
  float: left;
}

.col-center {
  height: 410px;
  width: 50%;
  background-color: lightblue;
  float: left;
  margin: 0 1%;
}

.col-right {
  height: 410px;
  width: 24%;
  background-color: lightblue;
  float: left;
}

footer {
  height: 50px;
  background-color: rebeccapurple;
}
